

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4" *ngFor="let equipo of selecciones">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <img src="https://cde.canaln.pe/deportes-seleccion-peruana-que-camiseta-usara-cada-partido-mundial-rusia-2018-n319429-764x480-462777.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> 
                                        {{equipo.nombre}}
                                  </a>
                                </h4> 
                                <p class="" style="font-weight:bold">
                                        APODO: {{equipo.apodo}}
                                </p> 
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Ver más información
                                </a>
                            </div>
                        </div>
                    </div>


                  
                </div>
            </div>
 

