<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container" style="margin-top: 15px">
    <form class="form-horizontal">
        <legend style="text-align: center">Buscar jugador</legend>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row container">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">

                        <div class="row form-group">
                            <label class="col-md-1 col-form-label">País</label>
                            <div class="col-md-3">
                                <select class="form-control" style="width: 128px">
                                    <option value="0">Seleccione</option>
                                    <option value="1">Peru</option>
                                    <option value="2">Brasil</option>
                                    <option value="3">Ecuador</option>
                                    <option value="4">Argentina</option>
                                    <option value="5">Colombia</option>
                                    <option value="6">Paraguay</option>
                                    <option value="7">Chile</option>
                                    <option value="8">Bolivia</option>
                                    <option value="9">Uruaguay</option>
                                    <option value="10">Venezuela</option>
                                    <option value="11">Japon</option>
                                    <option value="12">Qatar</option>
                                </select>
                            </div>
                            <div class="col-md-2" style="padding-right: 0px">
                                <label class="col-form-label float-right">Nombre</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-2" style="padding-left: 8px">
                                <button type="button" class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"> 

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>